[Unit]
Description=Source Map Reverse Service
RefuseManualStart=true

[Service]
Restart=always
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /sbin/srcmap-reverse
StandardOutput=journal+console
StandardError=journal+console
